

{{data.agent | json}}
<h1 mat-dialog-title>modifier un Agent</h1>
<div mat-dialog-content >
  <div [formGroup]="updateForm"  >
    <mat-form-field >
        <h3></h3>
        <input matInput [readonly]="true" formControlName="id" />
      </mat-form-field>
      <h4>Uploader une Image</h4>
 
        <input type="file" (change)="onFileChange($event)" />
        <div *ngIf="imageSizeError" class="error-message">{{ imageSizeError }}</div>
        <h4>modifier le Nom</h4>
    <mat-form-field appearance="outline">
      <mat-label>nom</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <h4>modifier prenom</h4>
    <mat-form-field appearance="outline">
    <mat-label>prenom</mat-label>
      <input matInput formControlName="surname" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <h4>modifier E-mail</h4>
    <mat-form-field appearance="outline">
      <mat-label>e-mail</mat-label>
      <input matInput formControlName="email" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <h4>modifier Username</h4>
    <mat-form-field appearance="outline">
      <mat-label>username</mat-label>
      <input matInput formControlName="username" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <h4>Select Role</h4>
    <mat-form-field>

      <mat-label>{{data.agent.roleName}}</mat-label>
      <mat-select formControlName="roles">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let role of roleList" [value]="role.id">{{role.roleName}}</mat-option>
      </mat-select>
 
    </mat-form-field>
    
    <p>You selected: {{getSelectedRoleName()}}</p>
   
    <mat-form-field appearance="outline">
      <mat-label>mot de passe</mat-label>
      <input matInput formControlName="password" />
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </div>
</div>
<div fxLayout="row-reverse" fxLayoutGap="10px" mat-dialog-actions>
  <button mat-raised-button (click)="annuler()" cdkFocusInitial class="bg-blue-200 px-5 py-3 text-sm shadow-sm font-medium tracking-wider text-green-800 rounded-full hover:shadow-2xl hover:bg-green-300">annuler</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="updateForm.invalid"
    (click)="patchAgent()" class="bg-blue-200 px-5 py-3 text-sm shadow-sm font-medium tracking-wider text-green-800 rounded-full hover:shadow-2xl hover:bg-green-300"
  >
    modifier
  </button>
</div>