@import "~leaflet/dist/leaflet.css";
@import "src/assets/geocoder.css";
.map-container {
    position: relative;
    height: 550px;
    width: 90%;
 
    margin-top: 2rem;
    background-color: aqua;

    margin: 1rem auto;
  }
  
  .map-frame {
    position: relative;
    border: 2px solid rgb(71, 209, 78);
    height: 100%;
    width: 100%;

  }
  
  #map {
    height: 100%;
  }


  .load-button {
  background-color: #007bff !important;
  color: #fff !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.load-button:hover {
  background-color: #0056b3 !important;
}

