<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/dist/tailwind.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
</head>
<div class="sidebar absolute top-0 bottom-0 lg:left-0 p-2 overflow-y-auto text-center bg-stone-600">
  <div class="text-gray-100 text-xl">
    <div class="pt-1 pr-16 mt-1 flex-initial">
      <h1 class="font-bold text-gray-200 text-[15px] ">Transtu</h1>
      <h3 class="font-bold text-gray-200 pl-14">suivi de flotte</h3>
    </div>
    <div class="my-2 bg-gray-600 h-[1px]"></div>
  </div>
  <hr>
  <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-green-700 text-white">
    <i class="bi bi-house-door-fill"></i>
    <span class="text-[15px] ml-4 text-gray-200 font-bold" routerLink="/home">Home</span>
  </div>
  <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-green-600 text-white">
    <i class="bi bi-people-fill"></i>
    <span class="text-[15px] ml-4 text-gray-200 font-bold" routerLink="/agents">Agents</span>
  </div>
  <div class="my-1 bg-red-600 h-[2px]"></div>
  <div
    class="p-2.5 mt-3 mr-10 flex items-baseline rounded-md px-4 duration-300 cursor-pointer hover:bg-green-600 text-white">
    <i class="bi bi-person-fill-gear"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-person-fill-gear" viewBox="0 0 16 16">
        <path
          d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
      </svg></i>
    <div class="flex justify-between w-full items-center border-dashed border-2 border-sky-500"
      (click)="toggleDropdown()">
      <span class="text-[16px]  text-gray-200 font-bold">Manage Agent <span
          class="text-sm rotate-180 cursor-pointer ml-16 " id="arrow">
          <i class="bi bi-chevron-down pl-16"></i>
        </span>
      </span>
    </div>
  </div>
  <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold " [ngClass]="{ 'hidden': isSubmenuHidden }"
    id="submenu">
    <a routerLink="/roles">
      <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
        Roles
      </h1>
    </a>
    <a routerLink="/permissions">
      <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
        Permissions
      </h1>
    </a>
  </div>
  <div class="my-1 bg-red-600 h-[2px]"></div>
  <div
    class="p-2.5 mt-3 mr-10 flex items-baseline rounded-md px-4 duration-300 cursor-pointer hover:bg-green-600 text-white">
    <i class="bi bi-buildings-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-buildings-fill" viewBox="0 0 16 16">
        <path
          d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z" />
      </svg></i>
    <div class="flex justify-between w-full items-center border-dashed border-2 border-sky-500"
      (click)="toggleDropdownE()">
      <span class="text-[16px]  text-gray-200 font-bold">Entropôt <span class="text-sm rotate-180 cursor-pointer ml-16 "
          id="arrow">
          <i class="bi bi-chevron-down pl-16"></i>
        </span>
      </span>
    </div>
  </div>
  <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold "
    [ngClass]="{ 'hidden': isSubmenuEntropotHidden }" id="submenu">
    <a routerLink="/entropots">
      <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
        Depots
      </h1>
    </a>
    <a routerLink="/brands">
      <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
        marques
      </h1>
    </a>
    <a routerLink="/conductors">
      <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
        conducteurs
      </h1>
    </a>
  </div>
  <div class="my-1 bg-red-600 h-[2px]"></div>
  <div
  class="p-2.5 mt-3 mr-10 flex items-baseline rounded-md px-4 duration-300 cursor-pointer hover:bg-green-600 text-white">
  <i class="bi bi-buildings-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-buildings-fill" viewBox="0 0 16 16">
      <path
        d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z" />
    </svg></i>
  <div class="flex justify-between w-full items-center border-dashed border-2 border-sky-500"
    (click)="toggleDropdownV()">
    <span class="text-[16px]  text-gray-200 font-bold">Vehicules <span class="text-sm rotate-180 cursor-pointer ml-16 "
        id="arrow">
        <i class="bi bi-chevron-down pl-16"></i>
      </span>
    </span>
  </div>
</div>
<div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold "
  [ngClass]="{ 'hidden': isSubmenuvehiculeHidden }" id="submenu">
  <a routerLink="/conditions">
    <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
      Conditions
    </h1>
  </a>
  <a routerLink="/brands">
    <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
      ...
    </h1>
  </a>
 

</div>
<div class="my-1 bg-red-600 h-[2px]"></div>
<div
class="p-2.5 mt-3 mr-10 flex items-baseline rounded-md px-4 duration-300 cursor-pointer hover:bg-green-600 text-white">
<i class="bi bi-buildings-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
    class="bi bi-buildings-fill" viewBox="0 0 16 16">
    <path
      d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z" />
  </svg></i>
<div class="flex justify-between w-full items-center border-dashed border-2 border-sky-500"
  (click)="toggleDropdownL()">
  <span class="text-[16px]  text-gray-200 font-bold">Line management <span class="text-sm rotate-180 cursor-pointer ml-16 "
      id="arrow">
      <i class="bi bi-chevron-down pl-16"></i>
    </span>
  </span>
</div>
</div>
<div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold "
[ngClass]="{ 'hidden': isSubmenulineHidden }" id="submenu">
<a routerLink="/lines">
  <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
    lignes
  </h1>
</a>
<a routerLink="/brands">
  <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
    ...
  </h1>
</a>


</div>
  <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
    <i class="bi bi-gear-fill"></i>
    <span class="text-[15px] ml-4 text-gray-200 font-bold">Parametres</span>
  </div>
  <a routerLink="/test">
    <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
      test
    </h1>
  </a>

</div>