<div class="flex absolute top-0 right-0 h-16 w-16" >
    <p class="text-xs text-primary-700"></p>
    <button
      type="button"
      id="dismissButton"
      class="ml-2 box-content rounded-none border-none opacity-80 hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
      data-te-toast-dismiss (click)="close()"
      aria-label="Close">
      <span (click)="dismissdialog()"
        class="w-[1em] focus:opacity-100 disabled:pointer-events-none disabled:select-none disabled:opacity-25 [&.disabled]:pointer-events-none [&.disabled]:select-none [&.disabled]:opacity-25">
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </span>
    </button>
  </div>
  <div class="max-w-2xl mx-auto">
  
    <p class="text-green-950 pt-20px normal-case text-6xl	 font-sherif antialiased	font-medium	leading-loose">Modifiér le condition</p>
      
    <form [formGroup]="updateForm">
      <div class="relative z-0 mt-4 w-full group max-w-s">
        <input type="text" name="name"
          class="rounded-br-lg block py-2 px-0 w-full text-sm text-black-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          formControlName="name" placeholder=" " required />
        <label for="name"
          class="absolute text-sm text-black-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom
          de condition</label>
          <ng-container>
            <div
              *ngIf="isFormSubmitted && updateForm.get('name').errors?.['required']  && updateForm.get('name')"
              class="text-red-500 text-xs italic">Veillez verifier que le champ non vide </div>
            <div
              *ngIf="isFormSubmitted && updateForm.get('name').errors?.['minlength']  && updateForm.get('name').invalid && updateForm.get('name')"
              class="text-red-500 text-xs italic">le nom doit contient minimum 3 lettres</div>
          </ng-container>
      </div> 
      <div class="my-8"></div> <!-- Add spacing  -->
      <div class="relative z-0 mt-4 w-full group">
      <input type="number" name="tracking"
      class="rounded-br-lg block py-2 px-0 w-full text-sm text-black-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      formControlName="tracking" placeholder=" " required />
    <label for="tracking"
      class="absolute text-sm text-black-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">tracking</label>
      <ng-container>
        <div *ngIf="isFormSubmitted && updateForm.get('tracking').errors?.['required']"
             class="text-red-500 text-xs italic">Veillez verifier que le champ non vide</div>
        <div *ngIf="isFormSubmitted && updateForm.get('tracking').errors?.['pattern']"
             class="text-red-500 text-xs italic">Veillez saisir un seul chiffre</div>
        <div *ngIf="isFormSubmitted && updateForm.get('tracking').errors?.['max']"
             class="text-red-500 text-xs italic">Le chiffre doit être inférieur ou égal à 9</div>
        <div *ngIf="isFormSubmitted && updateForm.get('tracking').errors?.['min']"
             class="text-red-500 text-xs italic">Le chiffre doit être supérieur ou égal à 0</div>
      </ng-container></div>
      <div class="my-8"></div> <!-- Add spacing  -->
      <div class="relative z-0 mt-4 w-full group max-w-xs">
      <input type="number" name="visibility"
      class="rounded-br-lg block py-2 px-0 w-full text-sm text-black-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      formControlName="visibility" placeholder=" " required />
    <label for="uid"
      class="absolute text-sm text-black-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Visibilité</label>
      <ng-container>
        <div *ngIf="isFormSubmitted && updateForm.get('visibility').errors?.['required']"
             class="text-red-500 text-xs italic">Veillez verifier que le champ non vide</div>
        <div *ngIf="isFormSubmitted && updateForm.get('visibility').errors?.['pattern']"
             class="text-red-500 text-xs italic">Veillez saisir un seul chiffre</div>
        <div *ngIf="isFormSubmitted && updateForm.get('visibility').errors?.['max']"
             class="text-red-500 text-xs italic">Le chiffre doit être inférieur ou égal à 9</div>
        <div *ngIf="isFormSubmitted && updateForm.get('visibility').errors?.['min']"
             class="text-red-500 text-xs italic">Le chiffre doit être supérieur ou égal à 0</div>
      </ng-container></div>
      <div class="my-16"></div> <!-- Add spacing  -->
      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="update()">update</button>
        
    </form>
</div>